.message {
  margin: 10px;
  border-radius: 10px;
  width: fit-content;
  min-width: 40%;
  max-width: 65%;
  background-color: var(--theme-light);
}

.message-text {
  margin: 5px;
}

#message-outbound {
  align-self: flex-end;
  text-align: end;
}

#message-inbound {
  text-align: start;
}

#message-timestamp {
  font-size: 10px;
  padding: 5px;
  color: black;
}