#item-container {
  position: relative;
  background-color: var(--theme-medium);
  color: var(--text-grey-dark);
  height: 180px;
  margin: 20px;
  display: flex;
  align-items: flex-start;
}

#item-image {
  width: 100px;
  height: 100px;
}

#item-text, #item-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: flex-start;
  font-size: 15px;
  height: 90%;
  padding: 10px;
}

#item-text h3 {
  font-size: 20px;
  margin: 5px 0;
}

#item-description {
  font-size: 12px;
}

#item-tools {
  position: absolute;
  top: 140px;
  right: 20px;
  display: flex;
  gap: 5px;
}

#item-tools button {
  height: 25px;
  width: 25px;
  background-color: var(--theme-light);
  color: var(--icon-color-grey);
  border: none;
  border-radius: 5px;
}

#item-location {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0;
}

#saved-stamp {
  position: absolute;
  font-family: 'leckerli';
  font-size: 40px;
  color: var(--text-grey-dark);
  opacity: 0.5;
  top: 60px;
  right: 20px;
}

